.coffee-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  right: 40px;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
}

.coffee-picture{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

body{
  background-color: burlywood;
  background-image: url(img/coffee-bean.jpeg);
  background-size: 75%;
  display: flex;
}

.coffee-names{
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
}



